.icon{
    display : flex;
    flex-direction : row;
    font-family : GothamRnd-Bold;
    font-weight:900;
    font-size:larger;
    border:2px solid green;
    justify-content:space-around;
    border-radius: 8px;
}
.texte{
    padding-top:170px;
}
.btn{
    background-color: #BE1D2D;
    font-weight:600;
    width:300px;
    height:50px;
    font-family:verdana;
    padding-top:10px;
    cursor:pointer;
    margin-left:500px;
    margin-top:100px;
    color: white;
}

